.pro-container{
    width:100%;
    -webkit-transform: translate(-10%,0);
}

.progressbar {
    counter-reset: step;
    color: white;
}
.progressbar li{
    list-style-type: none;
    float : left;
    width: 15%;
    text-align: center;
    z-index: 1;
    color: black;
}
.progressbar li:before{
    content: counter(step);
    width:30px;
    height:30px;
    counter-increment: step;
    color: white;
    display: block;
    line-height: 30px;
    text-align: center;
    margin:  0 auto 10px auto;
    border-radius: 50%;
    z-index: 1;
    background-color: gray;

}

.progressbar li:after{
    content: '';
    width:19%;
    height: 2px;
    -webkit-transform: translate(-50%,0);
    background-color: gray;
    top: 15px;
    position: fixed;
    z-index: -2;
    height: 6.5px;
    border-radius: 3px;
}

.progressbar li:first-child:after{
    color: #00d6b2;
    background-color: #00d6b2;
}
.progressbar li.active{
    color: #00d6b2;
}
.progressbar li.active:before{
    color: white;
    background-color: #00d6b2;
    border: 1.9px solid gray;
}

.progressbar li.active:after{
    background-color: #00d6b2;
    height: 6.5px;
    border: 1.9px solid gray;
    border-radius: 3px;
}